.product-name {
    margin: 0 auto 20px;
    padding: 0;
    font-weight: 200;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 0;
    color: #666;
    text-align: center;
}

.hero-img {
    cursor: pointer;
    height: 482px;
    margin-bottom: 15px;
    overflow: hidden;
}

.hero-img img {
    top: 1px;
    left: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Price ---------------------*/
.price-main {
    padding-top: 0;
    padding-bottom: 20px;
    float: left;
    width: 100%;
}

.primary-info .price {
    color: #333;
    display: inline-block;
    font-size: 26px;
    font-weight: 200;
    margin-bottom: 0;
}

.primary-info .price .offerPrice {
    /*font-weight: 100;*/
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0;
    color: #555;
}

.primary-info .lst-price {
    margin: 1px 0 0;
    padding: 0;
    font-weight: 400;
    text-transform: none;
    vertical-align: bottom;
    color: #333;
    display: inline-block;
}

.eyebrow {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #666;
}

/* Promo styles - starts */
.rich-promo-item {
    background: url("http://static.targetimg1.com/uploads/stickers/130-140924.png") no-repeat left 0px top;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    width: 100%;
    padding: 0 15px 2px 0;
}

.promo-text {
    display: inline-block;
    padding-left: 30px;
}

.rich-promo-item h3 {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.rich-promo-item h3 span {
    color: #cc0000;
}

/* Promo styles - ends */

.pdp-ffm .btn-atc {
    float: right;
}

.pdp-ffm .btn-spu, .pdp-ffm .btn-atc {
    width: 49%;
    border: 1px solid #790000;
    color: #fff;
    font-weight: 200;
    text-decoration: none;
    letter-spacing: .075em;
    height: 38px;
}

.pdp-ffm .btn-spu {
    background-color: hsl(0, 0%, 16%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828));
    background-image: -moz-linear-gradient(top, #5b5b5b, #282828);
    background-image: -ms-linear-gradient(top, #5b5b5b, #282828);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828));
    background-image: -webkit-linear-gradient(top, #5b5b5b, #282828);
    background-image: -o-linear-gradient(top, #5b5b5b, #282828);
    background-image: linear-gradient(#5b5b5b, #282828);
    border-color: #282828 #282828 hsl(0, 0%, 11%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
}
.btn-others .btn{
    font-size:10px
}
.btn-extra {
    background-color: hsl(257, 66%, 93%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8e1f8", endColorstr="#e8e1f8");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#e8e1f8), to(#e8e1f8));
    background-image: -moz-linear-gradient(top, #e8e1f8, #e8e1f8);
    background-image: -ms-linear-gradient(top, #e8e1f8, #e8e1f8);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e1f8), color-stop(100%, #e8e1f8));
    background-image: -webkit-linear-gradient(top, #e8e1f8, #e8e1f8);
    background-image: -o-linear-gradient(top, #e8e1f8, #e8e1f8);
    background-image: linear-gradient(#e8e1f8, #e8e1f8);
    border-color: #e8e1f8 #e8e1f8 hsl(257, 66%, 93%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
    -webkit-font-smoothing: antialiased;
    width: 32%;
}

.pdp-ffm .btn-share {
    float: right;
}

.pdp-ffm .btn-atl {
    margin-left: 7px;
}

/*returns policy starts*/
.product-warnings {
    background: 0 0;
    font-size: 10px;
    width: 100%;
    float: left;
    padding: 30px 0 30px;
}

.warning-label {
    display: table-cell;
    width: 50px;
    margin: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    padding-right: 5px;
    border-right: 1px solid #ccc;
    font-weight: 200;
    font-size: 16px;
    line-height: 30px;
    color: #666;
    letter-spacing: .075em;
    vertical-align: middle;
}

.product-warnings ul {
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 5px;
    list-style: none;
}

.product-warnings ul li {
    margin-left: 15px;
    font-weight: 200;
    font-size: 10px;
    line-height: 10px;
    color: #858585;
    letter-spacing: .050em;
}

/*returns policy ends*/

.prod-highlights {
    padding-top: 30px;
    padding-bottom: 30px;
}

.prod-highlights span {
    font-size: 26px;
    padding: 0 0 30px;
}

.prod-highlights .features {
    margin-top: 10px;
}

.prod-highlights .features strong {
    font-weight: 100;
}

.prod-highlights .features ul {
    padding-left: 15px;
}

