<div id="price-main" class="col-xs-12 price-main">
    <div class="offerprice">
        <span class="price">
            <span class="offerPrice" ng-bind="productDetails.offerPrice.formattedPriceValue"></span>
        </span>
        <span class="price lst-price">
            <span class="eyebrow" id="eyebrow" ng-bind="productDetails.offerPrice.priceQualifier"></span>
        </span>
    </div>
</div>
<div class="col-xs-12">
    <hr>
</div>
<div class="col-xs-12 promo">
    <div class="rich-promo-item" ng-repeat="promo in productDetails.Promotions">
        <!-- This should have been parsed in Service layer to avoid the below iteration: Used ng-repeat for ease in this POC-->
        <div class="promo-text" ng-repeat="promoDesc  in promo.Description ">
            <h3><span ng-bind="promoDesc.shortDescription"></span></h3>
        </div>
    </div>
</div>
<div class="col-xs-12">
    <hr>
</div>