.atc-confirm{
    padding: 30px;
    font-weight: bold;
}
.atc-confirm  .cart-qty  {
    float: left;
    margin: 7px 0 0 6px;
    font-size: 15px;
    line-height: 18px;
    padding-left: 0;
}

.atc-confirm .view-cart{
    margin-left: 10px;
    cursor: pointer;
}

.atc-confirm .close-atc {
    color: lightgray;
    cursor: pointer;
    float: right;
    font-size: 24px;
    height: 31px;
    position: absolute;
    right: 8px;
    width: 31px;
}