.atc-confirm{
    padding: 30px;
    font-weight: bold;
}
.atc-confirm  .cart-qty  {
    float: left;
    margin: 7px 0 0 6px;
    font-size: 15px;
    line-height: 18px;
    padding-left: 0;
}

.atc-confirm .view-cart{
    margin-left: 10px;
    cursor: pointer;
}

/*.atc-confirm .close-atc{
    background: url("http://2.shard.targetimg2.com/L/G/7ayKxsvN0.png") no-repeat;
    background-image: url(http://2.shard.targetimg2.com/L/G/7ayKxsvN0.png);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}*/

.atc-confirm .close-atc {
    color: lightgray;
    cursor: pointer;
    float: right;
    font-size: 24px;
    height: 31px;
    position: absolute;
    right: 8px;
    width: 31px;
}